.signup-container {
}

.signup-container h1 {
  text-align: center;
}

.signup-container .form-group {
  margin-bottom: 20px;
}

.signup-container .form-label {
  font-weight: bold;
}

.signup-container .submit-btn {
  display: block;
  margin: 0 auto;
  width: 150px;
  font-size: 18px;
}

.signup-container .fa {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .signup-container {
    width: 100%;
    padding: 20px;
  }
}
